*{
    font-family: montserrat;
    margin: 0;
    padding: 0;
}
/*-------------header---------------*/
header {
    min-height: 100vh;
    width: 100%;
    background-image:  linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(vana.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    font-size: 14px;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.logo-video {
    height: 100px;
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;
    
}
.nav-links ul li a{
    color: #7eddd5;
    text-decoration: none;
    
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;  
    transition: 0.5s;  
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa-solid{
    display: none;
}

/* Show dropdown on hover */
.dropdown {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #2E86C1;
}

.dropdown button {
    background-color: #162347;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.dropdown button:hover {
    background-color: #862f2f59;
}

.dropdown-content {
    text-align: left;
    color: #a7c0d1;
    display: none;
    position: absolute;
    background-color: #ffffff;
    font-size: 16px;
    min-width: 80px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgba(0, 0, 0, 0.61);
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.dropdown-content a:hover {
    background-color: #b35757;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: .5s;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul li{
        display: block;
    }
    nav .fa-solid{
        display: blocks;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* -------------about--------  */
.content {
    width: 100%;
    height: 100vh;
    margin: auto;
    padding-top: 100px;
    text-align: justify;
    border-radius: 10px;
    padding: 100px 0;

}

.content-text{
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
 }
h1{
    font-size: 36px;
    font-weight: 600;
}
.p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.content img {
    height: 50vh;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content-text h1 {
    color: #333;
    margin-top: 0;    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
/*----- Topics Under Trig -----*/
.course{
    width: 100%;
    margin: auto;
    text-align: center;

}
h1{
    font-size: 36px;
    font-weight: 600;
}
.p{
    color: #8b7f7f;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: o.5s;

}
.h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0,0.2);

}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
}


@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    
}
/*-----help----*/
.help{
    width: 100%;
    margin: auto;
    padding: 60PX 0;
}
.help-left{
    flex-basis: 65%;

}

.help-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.help-left h4{
    color: #222;
}
.help-left p{
    color: #131212;
    padding: 0;
}
.help-right div{
    display: flex;
    align-items: center;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
    justify-content: space-between;
}

.comment-box{
   height: 50vh; 
   flex-basis: 80%;
   background: #fff3f3;
   border-radius: 10px;
   margin-bottom: 5%;
   box-sizing: border-box;
   transition: o.5s;
   border: 1px solid #ccc;
   margin: 0;
   padding: 10px 20px;
}

.comment-box h3{
    text-align: left;

}
.comment-form input, .comment-form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0px;
}


/*-----site developers------*/
.manc{
    background-color: #e8f0fe;
    padding: 10px;
    border-left: 3px solid #1f5b83;
    margin: 10px 0;
}

.manc h1 {
    color: #333;
    margin-top: 0;
}

.manc {
    list-style: none;
    margin: 0;
    padding: 0;
}

.manc li {
    margin-bottom: 10px;
}

.reals table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.reals th, td {
    padding: 10px;
    border: 1px solid #333;
    text-align: left;
}
.reals th {
    background-color: #2E86C1;
    color: white;
}
a:hover {
    color: #e4393e;
}
@media(max-width: 700px){
    .real{
        flex-direction: column;
    }
    
}
/*------------------footer------------*/
footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}